.upcoming-events-container {
    display: flex;
    flex-direction: column;
    
    button {
        width: auto;
        background-color: unset;
        color: var(--accent-color-orange);
    }
}

.section-title {
    display: flex;
    align-items: center;
    justify-content: center;
}
