.main-img {
    background-image: url( '../../../public//assets/asset-1.jpg' );
    background-size: cover;
    object-fit: center;
    height: 100%;
    border-radius: 15px;
    z-index: -2;
    margin: 30px 20px 20px 20px;
}

.tint {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgba(33, 75, 228, 0.2);
}

.tint h1 {
    font-size: 72px;
    white-space: pre;
    z-index: 1;
}

.tint h3 {
    color: #FFFFFF;
    z-index: 1;
}

.center-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: red;
}

.blue-card {
    background-color: #EAEDF9;
    margin: 2em;
    display: flex;
    justify-content: space-between;
}

.blue-card h3 {
    color: #1F4AE3;
}

.grid {
    width: 50%;
    padding: 3em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.giving-section {
    background-color: #EAEDF9;
    display: flex;
}

.giving-section img {
    width: 60%;
}

.give {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
    justify-content: center;
    text-align: left;
    width: 100%;
    padding: 4em;
}

.give h3 {
    color: #1F4AE3;
    justify-self: flex-start;
}