.main-img {
    background-image: url( '../../../public/assets/asset-1.jpg' );
    object-fit: contain;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.blue-card {
    background-color: #EAEDF9;
    margin: 2em;
    display: flex;
    justify-content: space-between;
}

.grid {
    width: 50%;
    padding: 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}