/* notificationBar.css */
.strip {
    width: 100%;
    background-color: #c7c7c7;
    color: #000000;
    position: fixed;
    top: 0; /* Ensures the strip is always at the top */
    z-index: 9999; /* Keeps the strip above other elements */
    overflow: hidden;
}

.strip p {
    font-size: 14px;
    padding: 5px;
}

.marquee-container {
    display: flex; /* Displays the <p> tags in a row */
    animation: marquee 50s linear infinite; /* Animation properties */
    gap: 20px; /* Adds space between <p> tags */
}

.marquee-item {
    flex-shrink: 0; /* Prevents the <p> tags from shrinking */
    white-space: nowrap; /* Prevents line breaks */
    font-weight: 400;
    text-transform: uppercase;
}

@keyframes marquee {
    0% { transform: translateX(100%); } /* Initial position */
    100% { transform: translateX(-100%); } /* Final position */
}

@media (max-width: 600px) {
    .strip {
      font-size: 12px; /* Smaller font size for smaller screens */
    }
  
    .strip p {
      padding: 3px; /* Smaller padding */
    }
}
