.half-section .page-header-container h1 {
    color: var(--dark-stuff);
}

.about-section {
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-section {
    /* flex: 1; */
    text-align: justify;
    padding-right: 50%; /* Adjust as needed */
}

.about-section p {
    position: relative;
    font-size: 1em;
    z-index: 2;
    color: var(--dark-stuff);
    text-align: block;
    margin-bottom: 20px;
}

.about-section h2 {
    color: var(--dark-stuff);
    padding: 1em 0;
}