* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding: 0;
    border: none;
}

section {
    height: 100vh;
    width: 100vw;
}

h1 {
    font-size: 64px;
    color: #FFFFFF
}

h3 {
    color: #1F4AE3;
    font-size: 24px;
    font-weight: 600;
    line-height: 2;
}

p {
    font-size: 18px;
    line-height: 28px;
    font-weight: 200;
    color: #75777D;
}

.half-section {
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centered-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}