.nav {
    position: absolute;
    top: 50px;
    z-index: 10;
    width: 90%;
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.2); /* semi-transparent white background */
    backdrop-filter: blur(5px); /* blur effect */
    border: 1px solid rgba(255, 255, 255, 0.2); /* optional: border with transparency */
}

.nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav li {
    display: flex;
    flex-direction: row;
    justify-content: space;
    align-items: flex-end;
    padding: 0 50px 0 50px;
}

.nav p button {
    font-size: 1em;
    font-weight: 300;
    background: none;
    color: white;
    padding: 0.5em 1em;
    border-radius: 15px;
    position: relative;
    transition: text-shadow 0.3s ease;
}

.nav button:hover {
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8); /* subtle glow */
}

.nav button::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -3px;
    width: 0;
    height: 2px;
    background: white;
    transition: all 0.3s ease;
}

.nav button:hover::after {
    width: 100%;
    left: 0;
}