.nav {
    /* background-color: red; */
    width: 100%;
    display: flex;
    justify-content:space-around;
    top: 50px;
    z-index: 10;
    position: relative;
    /* padding: 1em; */
}

.nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav li {
    display: flex;
    flex-direction: row;
    justify-content: space;
    align-items: flex-end;
    padding: 0 50px 0 50px;
}

.nav p button {
    color: #1F4AE3;
    background: none;
    font-size: 1.1em;
    font-weight: 400;
    transition: all 0.3s ease;
}

.nav button:hover {
    border-radius: 15px;
    padding: 0 1em;
    border: 1px solid blue;
}